
<main>
    <!-- ****************** BG-COLOR-SECTION-START **********-->
    <section class="bg-color">
        <div class="container">
            <div class="row d-flex flex-column justify-content-center align-items-center">
                <div class="col-lg-8 info d-flex flex-column justify-content-center align-items-center">
                    <h1>About Us</h1>
                    <ul class="breadcrumb">
                        <li>
                            <a href="#"><i class="fas fa-home"></i> Home</a>
                        </li>
                        <li><a href="#">Pages</a></li>
                        <li class="active">About-Us</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- ****************** BG-COLOR-SECTION-END **********-->
    <!-- ****************** SERVIVE-SECTION-START **********-->
    <section id="service"
             class="sec-pad-y"
             style="overflow: hidden; padding-bottom: 0px">
        <div class="shape">
            <img src="~/img/shape/shape1.png" alt="" />
        </div>
        <div class="container">
            <div class="row range">
                <div class="col-lg-6">
                    <div class="img-shape">
                        <img class="img-fluid" src="~/img/owlcarusel/abour.jpg" alt="" />
                        <div class="modalIntro">
                            <div class="video mr-3">
                                <a class="youtube-video"
                                   data-toggle="modal"
                                   data-target="#videomodal">
                                    <i class="fas fa-play"></i>
                                </a>
                            </div>
                            <div class="content">
                                <h6 class="font-weight-bold">LET'S SEE OUR INTRO VIDEO</h6>
                                <p>
                                    If your smile is not becoming to you, then you should be
                                    coming
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="info">
                        <h6 class="font-weight-bold">HAS BEEN WORKING SINCE 2000</h6>
                        <h3 class="font-weight-bold">
                            A Great Place to Work. A Great Place to
                            <strong>Receive Care.</strong>Leading Medicine.
                        </h3>
                        <p>
                            Pursuit chamber as elderly amongst on. Distant however warrant
                            farther to of. My justice wishing prudent waiting in be. Who
                            decisively attachment has dispatched. Fruit defer in party me
                            built under first. Forbade him but savings sending ham
                            general.
                        </p>

                        <ul class="d-flex justify-content-start">
                            <li class="mr-3">
                                <i class="far fa-calendar-plus"></i>
                                <a href=""> Online Appoinment </a>
                            </li>
                            <li>
                                <i class="far fa-calendar-plus"></i>
                                <a href=""> Health Queries </a>
                            </li>
                        </ul>

                        <a class="btn mybtn" href="">
                            <i class="fas fa-angle-right mr-3"></i>Make Appoinment
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="service sec-pad-y" style="background-color: white">
            <div class="container">
                <div class="row d-flex flex-column justify-content-center align-items-center">
                    <div class="col-lg-6">
                        <div class="text-content text-center">
                            <h5>SERVICES</h5>
                            <h2>Our Department</h2>
                            <hr />
                            <p class="mt-3">
                                While mirth large of on front. Ye he greater related adapted
                                proceed entered an. Through it examine express promise no.
                                Past add size game cold girl off how old
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="owl-carousel owl-theme">
                            <!-- Single Item -->
                            <div class="item-sec">
                                <div class="info-sec d-flex justify-content-center align-items-center flex-column">
                                    <h4>
                                        <a href="#">Body Surgery</a>
                                    </h4>
                                    <div class="icon-sec">
                                        <i class="fas fa-bone"
                                           style="transform: rotate(-45deg)"></i>
                                    </div>
                                    <p>
                                        Attachment astonished to on appearance imprudence so
                                        collecting date expert over excellence. Tiled way blind
                                        lived.
                                    </p>
                                    <a class="btn btn-sec" href="#"><i class="fas fa-angle-right"></i> Read More</a>
                                </div>
                            </div>
                            <!-- End Single Item -->
                            <!-- Single Item -->
                            <div class="item-sec">
                                <div class="info-sec d-flex justify-content-center align-items-center flex-column">
                                    <h4>
                                        <a href="#">Dental Care</a>
                                    </h4>
                                    <div class="icon-sec">
                                        <i class="fas fa-tooth"></i>
                                    </div>
                                    <p>
                                        Attachment astonished to on appearance imprudence so
                                        collecting date expert over excellence. Tiled way blind
                                        lived.
                                    </p>
                                    <a class="btn btn-sec" href="#"><i class="fas fa-angle-right"></i> Read More</a>
                                </div>
                            </div>
                            <!-- End Single Item -->
                            <!-- Single Item -->
                            <div class="item-sec">
                                <div class="info-sec d-flex justify-content-center align-items-center flex-column">
                                    <h4>
                                        <a href="#">Eye Care</a>
                                    </h4>
                                    <div class="icon-sec">
                                        <i class="far fa-eye"></i>
                                    </div>
                                    <p>
                                        Attachment astonished to on appearance imprudence so
                                        collecting date expert over excellence. Tiled way blind
                                        lived.
                                    </p>
                                    <a class="btn btn-sec" href="#"><i class="fas fa-angle-right"></i> Read More</a>
                                </div>
                            </div>
                            <!-- End Single Item -->
                            <!-- Single Item -->
                            <div class="item-sec">
                                <div class="info-sec d-flex justify-content-center align-items-center flex-column">
                                    <h4>
                                        <a href="#">Blood Cancer</a>
                                    </h4>
                                    <div class="icon-sec">
                                        <i class="fas fa-virus"></i>
                                    </div>
                                    <p>
                                        Attachment astonished to on appearance imprudence so
                                        collecting date expert over excellence. Tiled way blind
                                        lived.
                                    </p>
                                    <a class="btn btn-sm circle btn-theme border" href="#"><i class="fas fa-angle-right"></i> Read More</a>
                                </div>
                            </div>
                            <!-- End Single Item -->
                            <!-- Single Item -->
                            <div class="item-sec">
                                <div class="info-sec d-flex justify-content-center align-items-center flex-column">
                                    <h4>
                                        <a href="#">Neurology Sargery</a>
                                    </h4>
                                    <div class="icon-sec">
                                        <i class="fas fa-brain"></i>
                                    </div>
                                    <p>
                                        Attachment astonished to on appearance imprudence so
                                        collecting date expert over excellence. Tiled way blind
                                        lived.
                                    </p>
                                    <a class="btn btn-sm circle btn-theme border" href="#"><i class="fas fa-angle-right"></i> Read More</a>
                                </div>
                            </div>
                            <!-- End Single Item -- -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ****************** SERVICE-SECTION-END **********-->
    <!-- ****************VIDEO-MODAL-START *******************-->
    <div class="modal fade"
         id="videomodal"
         tabindex="-1"
         aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <iframe frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
    <!-- ****************VIDEO-MODAL-END *******************-->
    <!-- ****************** SPECIAL-SECTION-START **********-->
    <section id="special" style="overflow: hidden">
        <div class="container-fluid con p-0">
            <div class="row">
                <div class="col-lg-6 special"></div>
                <div class="col-lg-6 special-bg p-0">
                    <div class="spec-info">
                        <h5>At Our Clinic</h5>
                        <h2>
                            Our Doctors <br />
                            Specialize in you.
                        </h2>

                        <p>
                            Respect forming clothes do in he. Course so piqued no an by
                            appear. Themselves reasonable pianoforte so motionless he as
                            difficulty be. Abode way begin ham there power whole. Suppose
                            neither evident welcome
                        </p>
                        <p>
                            Do unpleasing indulgence impossible to conviction. Suppose
                            neither evident welcome it at do civilly uncivil. Sing tall
                            much you get nor.
                        </p>
                        <a class="btn" href="#"><i class="fas fa-angle-right"></i> Doctor Lists</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ****************** SPEIAL-SECTION-END **********-->
    <!-- ****************** DOCTORS-SECTION-START **********-->
    <section id="doctors" class="sec-pad-y">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="doctors d-flex flex-column align-items-center justify-content-center">
                        <h5>DOCTORS</h5>
                        <h3>Meet Our Experts</h3>
                        <p class="text-center py-4">
                            While mirth large of on front. Ye he greater related adapted
                            proceed entered an. Through it examine express promise no.Past
                            add size game cold girl off how old
                        </p>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <!-- Single Item -->
                    <div class="single-item col-lg-3 col-md-6">
                        <div class="item-doc">
                            <div class="thumb-doc">
                                <img class="img-fluid" src="~/img/about/1.jpg" alt="Thumb" />
                                <div class="contact-doc">
                                    <ul>
                                        <li>
                                            <a href="#"><i class="fas fa-phone"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fas fa-comments"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="info">
                                <h6>Dr. Jonathom Doe</h6>
                                <span>Dentist</span>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="single-item col-lg-3 col-md-6">
                        <div class="item-doc">
                            <div class="thumb-doc">
                                <img class="img-fluid" src="~/img/about/2.jpg" alt="Thumb" />
                                <div class="contact-doc">
                                    <ul>
                                        <li>
                                            <a href="#"><i class="fas fa-phone"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fas fa-comments"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="info">
                                <h6>Prof. Sakaoat Amir</h6>
                                <span>Neurologist</span>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="single-item col-lg-3 col-md-6">
                        <div class="item-doc">
                            <div class="thumb-doc">
                                <img class="img-fluid" src="~/img/about/3.jpg" alt="Thumb" />
                                <div class="contact-doc">
                                    <ul>
                                        <li>
                                            <a href="#"><i class="fas fa-phone"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fas fa-comments"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="info">
                                <h6>Dr. Andro kuria</h6>
                                <span>Dermatologists</span>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="single-item col-lg-3 col-md-6">
                        <div class="item-doc">
                            <div class="thumb-doc">
                                <img class="img-fluid" src="~/img/about/4.jpg" alt="Thumb" />
                                <div class="contact-doc">
                                    <ul>
                                        <li>
                                            <a href="#"><i class="fas fa-phone"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fas fa-comments"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="info">
                                <h6>Prof. Matori Pulas</h6>
                                <span>Medicine Specialists</span>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Item -->
                </div>
            </div>
        </div>
    </section>
    <!-- ****************** DOCTORS-SECTION-END **********-->
    <!-- ****************** TESTIMONALS-SECTION-START **********-->
    <section id="testimonials" class="sec-pad-y">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <div class="test-head d-flex flex-column justify-content-center align-items-center">
                    <h6>TESTIMONIALS</h6>
                    <h2>Whay People Says About Our Services</h2>
                    <a class="btn" href="#"><i class="fas fa-angle-right"></i>View All</a>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="owl-carousel myowl">
                    <div class="item">
                        <div class="provider">
                            <div class="thumb">
                                <img class="img-fluid" src="~/img/test-1.jpg" alt="Thumb" />
                            </div>
                            <div class="bio">
                                <h5>Jonathom Doe</h5>
                                <span>patient of <strong>surgery</strong></span>
                            </div>
                        </div>
                        <div class="info">
                            <p>
                                Totally dearest expense on demesne ye he. Curiosity
                                excellent commanded in me. Unpleasing.
                            </p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="provider">
                            <div class="thumb">
                                <img class="img-fluid" src="~/img/test-2.jpg" alt="Thumb" />
                            </div>
                            <div class="bio">
                                <h5>Jonathom Doe</h5>
                                <span>patient of <strong>surgery</strong></span>
                            </div>
                        </div>
                        <div class="info">
                            <p>
                                Totally dearest expense on demesne ye he. Curiosity
                                excellent commanded in me. Unpleasing.
                            </p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="provider">
                            <div class="thumb">
                                <img class="img-fluid" src="~/img/test-3.jpg" alt="Thumb" />
                            </div>
                            <div class="bio">
                                <h5>Jonathom Doe</h5>
                                <span>patient of <strong>surgery</strong></span>
                            </div>
                        </div>
                        <div class="info">
                            <p>
                                Totally dearest expense on demesne ye he. Curiosity
                                excellent commanded in me. Unpleasing.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ****************** TESTIMONALS-SECTION-END **********-->
</main>


