<!-- ****************** BG-COLOR-SECTION-START **********-->
<section class="bg-color">
    <div class="container">
        <div class="row d-flex flex-column justify-content-center align-items-center">
            <div class="col-lg-8 info d-flex flex-column justify-content-center align-items-center">
                <h1>Blog Grid</h1>
                <ul class="breadcrumb">
                    <li>
                        <a href="#"><i class="fas fa-home"></i> Home</a>
                    </li>
                    <li><a href="#">Blog</a></li>
                    <li class="active">Blog-Grid</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- ****************** BG-COLOR-SECTION-END **********-->
<!-- ****************** BLOG-SECTION-START **********-->
<section id="blog" class="sec-pad-y" style="background-color: white">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-5">
                <div class="item-news">
                    <div class="image">
                        <img class="img-fluid" src="~/img/Blog/1.jpg" alt="" />
                        <div class="date">12 Jul</div>
                    </div>
                    <div class="info">
                        <p><i class="fas fa-tags mr-3"></i>Health,Patient</p>
                        <h5>Apartments frequently or motionless on reasonable.</h5>
                        <p class="text">
                            Draw part them he an to he roof only. Music leave say doors
                            him. Tore bred form if sigh case as do. Staying he.
                        </p>
                        <hr />
                        <ul class="d-flex justify-content-between">
                            <li>
                                <a href="">
                                    <img src="~/img/Blog/borderradiusimage.jpg" alt="" />
                                    <span>Author </span>
                                </a>
                            </li>
                            <li>
                                <a href=""> <i class="fas fa-comments"></i> 12 Comments </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-5">
                <div class="item-news">
                    <div class="image">
                        <img class="img-fluid" src="~/img/Blog/2.jpg" alt="" />
                        <div class="date">05 Aug</div>
                    </div>
                    <div class="info">
                        <p><i class="fas fa-tags mr-3"></i>Test,Doctor</p>
                        <h5>Consulted he eagerness unfeeling deficient.</h5>
                        <p class="text">
                            Draw part them he an to he roof only. Music leave say doors
                            him. Tore bred form if sigh case as do. Staying he.
                        </p>
                        <hr />
                        <ul class="d-flex justify-content-between">
                            <li>
                                <a href="">
                                    <img src="~/img/Blog/4.jpg" alt="" />
                                    <span>Author </span>
                                </a>
                            </li>
                            <li>
                                <a href=""> <i class="fas fa-comments"></i> 24 Comments </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-5">
                <div class="item-news">
                    <div class="image">
                        <img class="img-fluid" src="~/img/Blog/3.jpg" alt="" />
                        <div class="date">27 Dec</div>
                    </div>
                    <div class="info">
                        <p><i class="fas fa-tags mr-3"></i>Patient</p>
                        <h5>Draw part them he an to he roof only.</h5>
                        <p class="text">
                            Draw part them he an to he roof only. Music leave say doors
                            him. Tore bred form if sigh case as do. Staying he.
                        </p>
                        <hr />
                        <ul class="d-flex justify-content-between">
                            <li>
                                <a href="">
                                    <img src="~/img/Blog/5.jpg" alt="" />
                                    <span>Author </span>
                                </a>
                            </li>
                            <li>
                                <a href=""> <i class="fas fa-comments"></i> 07 Comments </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-5">
                <div class="item-news">
                    <div class="image">
                        <img class="img-fluid" src="~/img/Blog/6.jpg" alt="" />
                        <div class="date">12 Jul</div>
                    </div>
                    <div class="info">
                        <p><i class="fas fa-tags mr-3"></i>Health,Patient</p>
                        <h5>Enjoyed me settled mr respect no spirits civilly.</h5>
                        <p class="text">
                            Draw part them he an to he roof only. Music leave say doors
                            him. Tore bred form if sigh case as do. Staying he.
                        </p>
                        <hr />
                        <ul class="d-flex justify-content-between">
                            <li>
                                <a href="">
                                    <img src="~/img/Blog/borderradiusimage.jpg" alt="" />
                                    <span>Author </span>
                                </a>
                            </li>
                            <li>
                                <a href=""> <i class="fas fa-comments"></i> 12 Comments </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-5">
                <div class="item-news">
                    <div class="image">
                        <img class="img-fluid" src="~/img/Blog/7.jpg" alt="" />
                        <div class="date">05 Aug</div>
                    </div>
                    <div class="info">
                        <p><i class="fas fa-tags mr-3"></i>Test,Doctor</p>
                        <h5>Suitable settling attended no doubtful feelings.</h5>
                        <p class="text">
                            Draw part them he an to he roof only. Music leave say doors
                            him. Tore bred form if sigh case as do. Staying he.
                        </p>
                        <hr />
                        <ul class="d-flex justify-content-between">
                            <li>
                                <a href="">
                                    <img src="~/img/Blog/4.jpg" alt="" />
                                    <span>Author </span>
                                </a>
                            </li>
                            <li>
                                <a href=""> <i class="fas fa-comments"></i> 24 Comments </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-5">
                <div class="item-news">
                    <div class="image">
                        <img class="img-fluid" src="~/img/Blog/7.jpg" alt="" />
                        <div class="date">27 Dec</div>
                    </div>
                    <div class="info">
                        <p><i class="fas fa-tags mr-3"></i>Patient</p>
                        <h5>Unwilling sportsmen he in questions september.</h5>
                        <p class="text">
                            Draw part them he an to he roof only. Music leave say doors
                            him. Tore bred form if sigh case as do. Staying he.
                        </p>
                        <hr />
                        <ul class="d-flex justify-content-between">
                            <li>
                                <a href="">
                                    <img src="~/img/Blog/5.jpg" alt="" />
                                    <span>Author </span>
                                </a>
                            </li>
                            <li>
                                <a href=""> <i class="fas fa-comments"></i> 07 Comments </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 pagi-area text-center">
                <nav aria-label="navigation">
                    <ul class="pagination d-flex justify-content-center align-items-center">
                        <li class="page-item">
                            <a class="page-link" href="#">
                                <i class="fas fa-angle-double-left"></i>
                            </a>
                        </li>
                        <li class="page-item active">
                            <a class="page-link" href="#">1</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">
                                <i class="fas fa-angle-double-right"></i>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- ****************** BLOG-SECTION-END **********-->
 

