<main>
    <!-- ****************** BG-COLOR-SECTION-START **********-->
    <section class="bg-color">
        <div class="container">
            <div class="row d-flex flex-column justify-content-center align-items-center">
                <div class="col-lg-8 info d-flex flex-column justify-content-center align-items-center">
                    <h1>Departments</h1>
                    <ul class="breadcrumb">
                        <li>
                            <a href="#"><i class="fas fa-home"></i> Home</a>
                        </li>
                        <li><a href="#">DEPARTMENTS</a></li>
                        <li class="active">DEPARTMENTS</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- ****************** BG-COLOR-SECTION-END **********-->
    <!-- ****************** SERVICE-SECTION-START **********-->
    <section id="service">
        <div class="service sec-pad-y" style="background-color: #f7f7f7">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="owl-carousel owl-theme">
                            <!-- Single Item -->
                            <div class="item-sec">
                                <div class="info-sec d-flex justify-content-center align-items-center flex-column">
                                    <h4>
                                        <a href="#">Body Surgery</a>
                                    </h4>
                                    <div class="icon-sec">
                                        <i class="fas fa-bone"
                                           style="transform: rotate(-45deg)"></i>
                                    </div>
                                    <p>
                                        Attachment astonished to on appearance imprudence so
                                        collecting date expert over excellence. Tiled way blind
                                        lived.
                                    </p>
                                    <a class="btn btn-sec" href="#"><i class="fas fa-angle-right"></i> Read More</a>
                                </div>
                            </div>
                            <!-- End Single Item -->
                            <!-- Single Item -->
                            <div class="item-sec">
                                <div class="info-sec d-flex justify-content-center align-items-center flex-column">
                                    <h4>
                                        <a href="#">Dental Care</a>
                                    </h4>
                                    <div class="icon-sec">
                                        <i class="fas fa-tooth"></i>
                                    </div>
                                    <p>
                                        Attachment astonished to on appearance imprudence so
                                        collecting date expert over excellence. Tiled way blind
                                        lived.
                                    </p>
                                    <a class="btn btn-sec" href="#"><i class="fas fa-angle-right"></i> Read More</a>
                                </div>
                            </div>
                            <!-- End Single Item -->
                            <!-- Single Item -->
                            <div class="item-sec">
                                <div class="info-sec d-flex justify-content-center align-items-center flex-column">
                                    <h4>
                                        <a href="#">Eye Care</a>
                                    </h4>
                                    <div class="icon-sec">
                                        <i class="far fa-eye"></i>
                                    </div>
                                    <p>
                                        Attachment astonished to on appearance imprudence so
                                        collecting date expert over excellence. Tiled way blind
                                        lived.
                                    </p>
                                    <a class="btn btn-sec" href="#"><i class="fas fa-angle-right"></i> Read More</a>
                                </div>
                            </div>
                            <!-- End Single Item -->
                            <!-- Single Item -->
                            <div class="item-sec">
                                <div class="info-sec d-flex justify-content-center align-items-center flex-column">
                                    <h4>
                                        <a href="#">Blood Cancer</a>
                                    </h4>
                                    <div class="icon-sec">
                                        <i class="fas fa-virus"></i>
                                    </div>
                                    <p>
                                        Attachment astonished to on appearance imprudence so
                                        collecting date expert over excellence. Tiled way blind
                                        lived.
                                    </p>
                                    <a class="btn btn-sm circle btn-theme border" href="#"><i class="fas fa-angle-right"></i> Read More</a>
                                </div>
                            </div>
                            <!-- End Single Item -->
                            <!-- Single Item -->
                            <div class="item-sec">
                                <div class="info-sec d-flex justify-content-center align-items-center flex-column">
                                    <h4>
                                        <a href="#">Neurology Sargery</a>
                                    </h4>
                                    <div class="icon-sec">
                                        <i class="fas fa-brain"></i>
                                    </div>
                                    <p>
                                        Attachment astonished to on appearance imprudence so
                                        collecting date expert over excellence. Tiled way blind
                                        lived.
                                    </p>
                                    <a class="btn btn-sm circle btn-theme border" href="#"><i class="fas fa-angle-right"></i> Read More</a>
                                </div>
                            </div>
                            <!-- End Single Item -- -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ****************** SERVICE-SECTION-END **********-->
    <!-- ****************** COUNT-SECTION-START **********-->
    <section id="count" style="background-color: #f7f7f7">
        <div class="container">
            <div class="fun-fact-items bg-gradient text-light text-center">
                <div class="row">
                    <div class="col-lg-3 col-md-6 item">
                        <div class="fun-fact">
                            <div class="timer" data-count="230" id="Satisfied">0</div>
                            <span class="medium">Satisfied Patients</span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 item">
                        <div class="fun-fact">
                            <div class="timer" data-count="89" id="Regular">0</div>
                            <span class="medium">Regular Doctors</span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 item">
                        <div class="fun-fact">
                            <div class="timer" data-count="50" id="Departments">0</div>
                            <span class="medium">Departments</span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 item">
                        <div class="fun-fact">
                            <div class="timer" data-count="2348" id="Servant">0</div>
                            <span class="medium">Servant</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ****************** COUNT-SECTION-END **********-->
    <!-- ****************** APPOINTMENT-SECTION-START **********-->
    <section id="appointment" class="sec-pad-y">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <h2>
                        How to get a <br />
                        consultation from us?
                    </h2>
                    <p class="app-text">
                        Badies she basket season age her uneasy saw. Discourse unwilling
                        am no described dejection incommode no listening of. Before
                        nature his parish boy.
                    </p>
                    <!--************* APPOINTMENT-ICONS-START ******************-->
                    <div class="row">
                        <div class="col-lg-4 col-md-4 pt-3">
                            <div class="app-col d-flex flex-column justify-content-center align-items-center">
                                <i class="far fa-calendar-check"></i>
                                <h6 class="text-center mt-4">Make Appointment</h6>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 pt-3">
                            <div class="app-col d-flex flex-column justify-content-center align-items-center">
                                <i class="fas fa-user-md"></i>
                                <h6 class="text-center mt-4">Select A Doctor</h6>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 pt-3">
                            <div class="app-col d-flex flex-column justify-content-center align-items-center">
                                <i class="fas fa-heartbeat"></i>
                                <h6 class="text-center mt-4">Confirm Consultation</h6>
                            </div>
                        </div>
                    </div>
                    <!--****************** APPOINTMENT-ICONS-END **********************-->
                </div>
                <div class="col-lg-5">
                    <div class="appoinment-box d-flex flex-column justify-content-center align-items-center"
                         style="overflow: hidden">
                        <div class="app-absolute"></div>
                        <div class="form-head d-flex flex-column justify-content-center align-items-center">
                            <h4>Make an Appointment</h4>
                            <img src="~/img/appoint.png" alt="" />
                        </div>
                        <!--***************** APPOINTMENT-FORM-START *******************-->
                        <form action="http://jrc.azgpeng.com">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input class="form-control name-phone"
                                               id="f-name"
                                               name="name"
                                               placeholder="Name"
                                               type="text" />
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input class="form-control name-phone"
                                               id="f-phone"
                                               name="phone"
                                               placeholder="Phone"
                                               type="text" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="dropdown">
                                        <button class="dropdown-toggle"
                                                style="font-size: 14px"
                                                type="button"
                                                id="MenuButton1"
                                                data-toggle="dropdown"
                                                aria-haspopup="true"
                                                aria-expanded="false">
                                            Male
                                        </button>
                                        <div class="dropdown-menu translate"
                                             aria-labelledby="MenuButton1">
                                            <li class="dropdown-item items1 selected-option">
                                                Male
                                            </li>
                                            <li class="dropdown-item items1">Female</li>
                                            <li class="dropdown-item items1">Child</li>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="dropdown">
                                        <button class="dropdown-toggle"
                                                type="button"
                                                style="font-size: 14px"
                                                id="MenuButton2"
                                                data-toggle="dropdown"
                                                aria-haspopup="true"
                                                aria-expanded="false">
                                            Department
                                        </button>
                                        <div class="dropdown-menu translate"
                                             aria-labelledby="MenuButton2">
                                            <li class="dropdown-item items2 selected-option">
                                                Department
                                            </li>
                                            <li class="dropdown-item items2">Medecine</li>
                                            <li class="dropdown-item items2">Dental Care</li>
                                            <li class="dropdown-item items2">Traumatology</li>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input class="form-control mddt"
                                               id="f-date"
                                               name="date"
                                               placeholder="Date"
                                               type="text" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input class="form-control mddt"
                                               id="f-time"
                                               name="time"
                                               placeholder="Time"
                                               type="text" />
                                    </div>
                                </div>
                                <div class="col-md-12 d-flex justify-content-center">
                                    <button type="submit" name="submit" id="f-submit">
                                        Book Appoinment
                                    </button>
                                </div>
                            </div>
                        </form>
                        <!--************* APPOINTMENT-FORM-END ***********************-->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ****************** APPOINTMENT-SECTION-END **********-->
</main>


