
    <!-- ****************** BG-COLOR-SECTION-START **********-->
    <section class="bg-color">
      <div class="container">
        <div
          class="row d-flex flex-column justify-content-center align-items-center"
        >
          <div
            class="col-lg-8 info d-flex flex-column justify-content-center align-items-center"
          >
            <h1>Contact Us</h1>
            <ul class="breadcrumb">
              <li>
                <a href="#"><i class="fas fa-home"></i> Home</a>
              </li>
              <li><a href="#">CONTACT</a></li>
              <li class="active">Contact</li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <!-- ****************** BG-COLOR-SECTION-END **********-->

    <!-- ****************** CONTACT-SECTION-START **********-->
    <section id="contact" class="sec-pad-y">
      <div class="container">
        <div class="row">
          <div class="col-lg-7">
            <div
              class="contact-info d-flex justify-content-center align-items-center"
            >
              <div class="contact-info-item mr-5">
                <h6>
                  <i
                    class="fas fa-phone-volume fa-2x"
                    style="transform: rotate(-45deg)"
                  ></i
                  >PHONE
                </h6>
                <span>+44-20-7328-4499</span>
              </div>
              <div class="contact-info-item">
                <h6><i class="fas fa-envelope-open-text fa-2x"></i>EMAIL</h6>
                <span>info@healdi.com</span>
              </div>
            </div>
          </div>
          <div class="col-lg-5">
            <h2>Need help? <strong>Let's ask your questions</strong></h2>
            <!--**************** contact-form-start *********************-->
            <form action="http://jrc.azgpeng.com">
              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group">
                    <input
                      class="form-control"
                      id="name"
                      name="name"
                      placeholder="Name"
                      type="text"
                    />
                    <span class="alert-error"></span>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <input
                      class="form-control"
                      id="email"
                      name="email"
                      placeholder="Email*"
                      type="email"
                      required
                    />
                    <span class="alert-error"></span>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <input
                      class="form-control"
                      id="phone"
                      name="phone"
                      placeholder="Phone"
                      type="text"
                    />
                    <span class="alert-error"></span>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="form-group comments">
                    <textarea
                      class="form-control"
                      id="comments"
                      name="comments"
                      placeholder="Tell Us About Project *"
                      required
                    ></textarea>
                  </div>
                </div>
                <div class="col-lg-12">
                  <button type="submit" name="submit" id="submit">
                    Send Message
                  </button>
                </div>
              </div>
            </form>
            <!--************  contact-form-end **************-->
          </div>
        </div>
      </div>
    </section>
    <!-- ****************** CONTACT-SECTION-END **********-->

    <!-- ****************** MAP-SECTION-START **********-->
    <section id="map" style="background-color: rgb(204, 191, 166)">
      <div style="width: 100%">
        <iframe
          width="100%"
          height="600"
          frameborder="0"
          scrolling="no"
          marginheight="0"
          marginwidth="0"
          src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=40.3771909,49.8539455+(code%20acadame)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
        ></iframe>
      </div>
    </section>
    <!-- ****************** MAP-SECTION-END **********-->


